.container-button-home {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.button-link-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    gap: 5px;
    background: linear-gradient(90deg, rgba(86, 79, 156, 0.82) -16.97%, rgba(49, 150, 213, 0.83) 83.03%);
    border: 1px solid rgba(227, 210, 238, 1);
    border-radius: 29px;
}

.button-project-title-margin {
    margin-top: 10px;
    margin-left: 7px;
}

.button-title-margin {
    margin-top: 6px;
    margin-left: 7px;
}