* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow: hidden;
    border: 1px solid red; */
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.bg-linear-gradient {
    background: linear-gradient(243.4deg, rgba(141, 61, 175, 0.216) 43%, rgba(0, 174, 239, 0.216) 50%);
    width: 100vw;
    height: 100vh;
}

/* PAGES HOME */
.bg-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


/* NAVBAR */
.header-home {
    box-shadow: 6px 13px 78px 0px rgba(0, 0, 0, 0.66);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(126, 100, 158, 0.534) 0%, rgba(45, 35, 56, 0.555) 100%);
    padding: 0.8rem;
    border-bottom: 3px solid;
    border-image-slice: 3;
    border-image-source: linear-gradient(90deg, rgba(201, 237, 251, 0.75) 33%, rgba(205, 145, 219, 0.75) 67.5%);
}

.nav-logo {
    display: flex;
    margin-left: 120px;
    width: 120px;
    opacity: 0.9;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 60px;
    gap: 50px;
}

.nav-link {
    margin-top: 15px;
    display: flex;
    width: 100px;
    height: auto;
}

.nav-link #test {
    filter: contrast(1.5);
    fill: url(#paint0_linear_25_6);
}

.nav-link:hover #test {
    fill: url(#paint0_linear_25_7);
    filter: contrast(1.2);
}

.nav-none {
    display: none;
}

/* SECTION BODYHOME */

.container-title-button-social-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: 80px auto;
}

.container-social {
    display: flex;
    margin-bottom: 65px;
    flex-direction: column;
    gap: 36px;
}

.icon-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 59px;
    background: linear-gradient(360deg, rgba(205, 145, 219, 0.61) 0%, rgba(41, 176, 250, 0.56) 100%);
    border-radius: 50px;
}

.icon-twitter {
    margin-top: 6px;
}

.icon-social:hover svg {
    transform: scale(1.2);
}

.container-title-button-home {
    text-align: center;
    flex: 1;
}

.text-h1-home {
    width: 100%;
}

.text-h2-home {
    margin-top: 15px;
    width: 100%;
}

.container-button-home {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.button-link-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    gap: 5px;
    background: linear-gradient(90deg, rgba(86, 79, 156, 0.82) -16.97%, rgba(49, 150, 213, 0.83) 83.03%);
    border: 1px solid rgba(227, 210, 238, 1);
    border-radius: 29px;
}

.button-title-margin {
    margin-top: 6px;
    margin-left: 7px;
}

.button-project-title-margin {
    margin-top: 10px;
    margin-left: 7px;
}

/* FOOTER HOME */

.footer-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(191, 162, 200, 0.164) 3%, rgba(1, 1, 1, 0.51) 37%);
    backdrop-filter: blur(27.899999618530273px);

    margin-top: 135px;
}

.title-services {
    display: flex;
    background: linear-gradient(90deg, rgba(73, 222, 230, 0.623) 18.5%, rgba(205, 145, 219, 0.637) 77.5%);
    justify-content: center;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 34px;
    font-weight: 700;
}

.container-services {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
}

.container-title-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
    width: 50%;
}

.line-footer {
    margin-top: 20px;
}

.title-h3-service {
    font-family: "Rajdhani", sans-serif;
    font-size: 26px;
    font-weight: 700;
    background: linear-gradient(90deg, #49DEE6 20.5%, #CD91DB 89%);
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.span-service {
    font-family: "Rajdhani", sans-serif;
    font-style: italic;
    font-size: 22px;
    font-weight: 500;
    background: linear-gradient(90deg, #49DEE6 20.5%, #CD91DB 89%);
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: flex;
    width: 100%;
    height: auto;
}

.container-chevron {
    opacity: 0.8;
    display: flex;
    align-items: center;
    gap: 50px;
    height: auto;
    position: fixed;
    overflow: visible;
    bottom: 40px;
}

.chevron-top,
.chevron-bottom {
    cursor: pointer;
    display: flex;
    transition: transform 0.2s ease;
    background: linear-gradient(90deg, #49DEE6 20.5%, #CD91DB 89%);
    width: 20px;
    height: 40px;
    border-radius: 5px;
    rotate: 270deg;
    border: 2px solid rgb(196, 235, 238);
}

.chevron-top:hover,
.chevron-bottom:hover {
    transform: scale(1.1);

}

.counter {
    display: flex;
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: italic;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #49DEE6 20.5%, #CD91DB 89%);
    font-size: 10px;
    color: black;
    height: 20px;
    border-radius: 5px;
    border: 2px solid rgb(196, 235, 238);
    width: 40px;
}

/* PAGE ABOUT */

.container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


.container-button-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 43px;
    gap: 55px;
    background: linear-gradient(90deg, rgba(79, 138, 174, 0.66) 0%, rgba(151, 138, 170, 0.66) 100%);
    box-shadow: 0px 4px 24.2px 3px rgba(33, 73, 104, 1) inset;
    border-radius: 36px 36px 0px 0px;
}

.container-content-about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chevron-left-about {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 90px 0px 0px 90px;
    width: 20px;
    height: 100px;
    border: 2px solid rgb(173 204 222);
    box-shadow: inset -3px 1px 7px 0px #1cd1dc;
    background: linear-gradient(90deg, rgba(145, 198, 233, 0.562) 33%, rgba(84, 130, 155, 0.644) 67.5%);
}

.chevron-left-about:hover {
    background: linear-gradient(90deg, rgba(60, 120, 160, 0.596) 33%, rgb(84, 130, 155) 67.5%);
}


.container-block-middle-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 750px;
    position: relative;
    border: 6px solid;
    border-image-slice: 3;
    border-image-source: linear-gradient(90deg, rgba(201, 237, 251, 0.75) 33%, rgba(205, 145, 219, 0.75) 67.5%);
}

.bg-container-middle {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.title-about {
    color: #49DEE6;
}

.button-skills-about-h3 {
    display: flex;
    bottom: 10px;
    position: absolute;
    gap: 500px;
}

.circle-about-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20%;
    padding: 5px 20px;
    width: 100px;
    height: 30px;

}

.circle-about-button:hover {
    background: linear-gradient(90deg, rgba(145, 198, 233, 0.267) 33%, rgb(84, 130, 155) 67.5%);
}

.circle-about-button #test {
    filter: contrast(2.5);
}

.circle-about-button:hover #test {
    fill: url(#paint0_linear_25_7);
    filter: contrast(1.5);
}

.circle-style-left {
    border: 2px solid rgb(173 204 222);
    box-shadow: inset -3px 1px 7px 0px #1cd1dc;
    background: linear-gradient(90deg, rgba(145, 198, 233, 0.562) 33%, rgba(84, 130, 155, 0.644) 67.5%);
}

.circle-style-right {
    border: 2px solid rgb(176 129 195);
    box-shadow: inset -3px 1px 7px 0px #ad7cbd;
    background: linear-gradient(90deg, rgba(145, 198, 233, 0.562) 33%, rgba(84, 130, 155, 0.644) 67.5%);
}

.svg-title-button {
    padding-top: 6px;
    opacity: 0.9;
}

.chevron-right-about {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0px 90px 90px 0px;
    width: 20px;
    height: 100px;
    border: 2px solid rgb(181 136 204);
    box-shadow: inset -1px 0px 7px 0px #8021a1;
    background: linear-gradient(90deg, rgb(173 123 192) 33%, rgba(84, 130, 155, 0.644) 67.5%);
}

.chevron-right-about:hover {
    background: linear-gradient(90deg, rgb(173 123 192) 33%, rgba(77, 7, 50, 0.562) 67.5%);
}


.container-button-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 43px;
    gap: 55px;
    background: linear-gradient(90deg, rgba(79, 138, 174, 0.66) 0%, rgba(151, 138, 170, 0.66) 100%);
    box-shadow: 0px 4px 24.2px 3px rgba(33, 73, 104, 1) inset;
    border-radius: 0px 0px 36px 36px;
}

/* PAGE PROJECT */

.container-project {
    padding: 0px 100px;
}

.container-title-button-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 35px;
}

.title-h1-project {
    width: 99%;
}

.title-h2-project {
    width: 99%;
}


.button-path-project {
    margin: 10px;
    width: auto;
}

.theme-project {
    position: absolute;
    left: 50px;
    top: 37%;
}

.container-button-theme-project {
    display: flex;
    height: 570px;
    margin-top: 20px;
}


.line-project {
    position: absolute;
    left: 89px;
    top: 42%;
    height: 500px;
}

.container-button-filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    gap: 20px;
}

.button-purple-project {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 10px;
    background: linear-gradient(90deg, rgba(86, 79, 156, 0.82) -3.12%, rgba(49, 150, 213, 0.83) 96.88%);
    border: 1px solid rgba(227, 210, 238, 0.555);
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

.button-icon-margin-project {
    margin-left: 20px;
}

.button-title-margin-project {
    margin-top: 18px;
    margin-right: 5px;
}

.button-white-project {
    display: flex;
    align-items: center;
    width: 70%;
    height: 50px;
    border: 2px solid;
    border-image-source: linear-gradient(90deg, rgba(86, 68, 121, 0.44) 0%, rgba(227, 210, 238, 0.44) 75%);
    border-image-slice: 1;
    background: linear-gradient(90deg, rgba(86, 79, 156, 0.82) -3.12%, rgba(49, 150, 213, 0.83) 96.88%);
    cursor: pointer;
}

.title-button-white-project {
    margin-left: 20px;
}

.title-button-white-project {
    margin-top: 6px;
}

.content-project {
    margin-left: 60px;
    margin-top: 30px;
    width: 55%;
    height: 453px;
    background: linear-gradient(180deg, rgba(85, 79, 156, 0.322) 838.51%, rgba(49, 150, 213, 0.473) 917.46%);
    background-blend-mode: lighten;
    border: 2px solid;
    border-image-source: linear-gradient(270deg, #aeedfbb7 36.5%, #bb9be8b7 79%);
    border-image-slice: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 40px 72.7px 0px rgba(0, 0, 0, 0.83);
    filter: brightness(1.3);
}

/* Styles pour la barre de défilement pour les navigateurs WebKit (Chrome, Safari) */

.line {
    position: absolute;
    border: 1px solid rgba(174, 237, 251, 0.568);

}

.vertical {
    width: 2px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.horizontal {
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    width: 100%;
    padding: 30px;
    height: 100%;
}

.project-item {
    background-color: #f4f4f4;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.project-item img {
    width: 100%;
    height: auto;
}

.rectangle-wrapper {
    position: relative;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.container-icon-social-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-wrapper {
    overflow: visible;
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-center {
    position: absolute;
    width: 50%;
    height: 50%;
    overflow: visible;
}

.lottie-astronaut {
    position: absolute;
    left: 255px;
    bottom: 850px;
    height: 60px;
}

.scroll-down-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    left: 99%;

}

.scroll-rectangle {
    width: 10px;
    height: 450px;
    background: #aeedfbb7;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dot {
    display: flex;
    color: #0a5e59;
    justify-content: center;
    width: 25px;

    height: 25px;
    border-radius: 29px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    position: absolute;
    top: -10px;
    animation: drop 3s infinite;
    font-size: 14px;
}



@keyframes drop {
    0% {
        top: -10px;
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}