* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow: hidden;
    border: 1px solid red; */
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.bg-linear-gradient {
    background: linear-gradient(243.4deg, rgba(141, 61, 175, 0.216) 43%, rgba(0, 174, 239, 0.216) 50%);
    width: 100vw;
    height: 100vh;
}

/* PAGES HOME */
.bg-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}