.footer-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(191, 162, 200, 0.164) 3%, rgba(1, 1, 1, 0.51) 37%);
    backdrop-filter: blur(27.9px);
    margin-top: 8.4375rem;
}

.title-services {
    display: flex;
    background: linear-gradient(90deg, rgba(73, 222, 230, 0.623) 18.5%, rgba(205, 145, 219, 0.637) 77.5%);
    justify-content: center;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.125rem;
    font-weight: 700;
}

.container-services {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13.125rem;
}

.container-title-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    margin-bottom: 3.125rem;
    width: 50%;
}

.line-footer {
    margin-top: 1.25rem;
}

.title-h3-service {
    font-family: "Rajdhani", sans-serif;
    font-size: 1.625rem;
    font-weight: 700;
    background: linear-gradient(90deg, #49DEE6 20.5%, #CD91DB 89%);
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.span-service {
    font-family: "Rajdhani", sans-serif;
    font-style: italic;
    font-size: 1.375rem;
    font-weight: 500;
    background: linear-gradient(90deg, #49DEE6 20.5%, #CD91DB 89%);
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: flex;
    width: 100%;
    height: auto;
}

.container-chevron {
    opacity: 0.8;
    display: flex;
    align-items: center;
    gap: 3.125rem;
    height: auto;
    position: fixed;
    overflow: visible;
    bottom: 2.5rem;
}

.chevron-top,
.chevron-bottom {
    cursor: pointer;
    display: flex;
    transition: transform 0.2s ease;
    background: linear-gradient(90deg, #49DEE6 20.5%, #CD91DB 89%);
    width: 1.25rem;
    height: 2.5rem;
    border-radius: 0.3125rem;
    rotate: 270deg;
    border: 0.125rem solid rgb(196, 235, 238);
}

.chevron-top:hover,
.chevron-bottom:hover {
    transform: scale(1.1);
}

.counter {
    display: flex;
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: italic;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #49DEE6 20.5%, #CD91DB 89%);
    font-size: 0.625rem;
    color: black;
    height: 1.25rem;
    border-radius: 0.3125rem;
    border: 0.125rem solid rgb(196, 235, 238);
    width: 2.5rem;
}

@media (max-width: 970px) {
    .footer-home {
        margin-top: -95px;
    }
}

@media (max-width: 690px) {
    .footer-home {
        margin-top: -28px;
    }

    .title-services {
        font-size: 1.625rem;
    }

    .container-chevron {
        gap: 1.125rem;
        bottom: 1.5rem;
    }


    .title-h3-service {
        font-size: 19px;
    }

    .span-service {
        font-size: 15px;
    }
}


@media (max-width: 375px) {
    .footer-home {
        margin-top: -49px;
    }
}